*{
    margin: 0;
    font-family: 'Advent Pro', sans-serif;
    overflow-x: hidden;
}
html{
scroll-behavior:smooth;
}

header{
    font-size: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4d4d438;
    position: relative;
    z-index:1;
    color: #D3A2BD;
}
h2{
    padding: 10px;
}
.header-left,.header-right{
    visibility: hidden;
    font-size: 40px;
}
.first{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0px;
    animation:backgroundanimation 4s infinite alternate;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #f9f8fc, #f3f0f8, #eee9f4, #e4d8e9, #ddc6dd, #d8b4ce, #d3a2bd);
    background-size: 100% 150%;
}
img{
    width: 100vw;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    height: 100vh;
    overflow: hidden;
}
.cut,.stroke,.main{
    top: 0px;
}
.stroke{
    opacity: 30%;
}
.cut,.stroke{
    z-index: 2;
}
.first::before{
    content: "Abigail";
    position: absolute;
    font-size: 13vw;
    top:9vh;
    z-index: 2;
    color:#D3A2BD;
    margin-left: 2vw;
    border-bottom: 1vw solid #D3A2BD;
    padding-right: 60vw;
    
}
.first::after{
    content: "Thorn";
    position: absolute;
    font-size: 13vw;
    top:9vh;
    z-index: 1;
    color:#D3A2BD;
    margin-left: 65vw;
}
.jump{
    position: absolute;
    width:20px;
    height: 20px;
    border-radius: 40px;
    left:50%;
    top: 95vh;
    z-index: 5;
    border: solid #D3A2BD;
    background-color: none;
    text-align: center;
    transform: scale(1.5);
    padding-right: 4px;
    cursor:pointer;
    animation:jumphighlight 1s infinite alternate linear;
    overflow: hidden;
}

.jump:hover{
    color:white;
    background-color: #d3a2bd80;
}

@keyframes jump{
    from {
      background-color: #000000;
    }
    to {
        background-color: #fffb00;
    }
  }
@keyframes jumphighlight{
    from {
      translate:0px 0px;
    }
    to {
        translate:0px 10px;
    }
  }
@keyframes backgroundanimation{
    from{
        background-position: 0% 0%;;
    }
    to{
        background-position: 0% 100%;
    }
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #d3a2bd;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #d3a2bd;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 100vh;
    position: absolute;
    width: 100vw;
    height:100vh;;
    background-color: #ebebeb;

}
.roman{
    width: 60vw;
}
.imgcon{
    opacity: 60%;
    background-image: url(assets/roman.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100vw;
    height: 100vh;
    box-shadow:-100px 0px 100px 0 #ebebeb inset; 
    content: '';
    display: block;
    transition:width 5s;
  }
  section:hover .imgcon{
    width: 30vw;
}
section:hover .summery{
    width: 70vw;
    opacity: 100%;
}
  .summery{
    opacity: 0%;
    margin-right:5vw;
    width: 0vw;
    height: 90vh;
    border-left: 1px solid #000000;
    border-right:1px solid #000000;
    color: #000000;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    transition:width 2s,opacity 2s;
    white-space: nowrap;
    overflow: hidden;
  }
  #name{
    
    display: block;
    background-size: 20%;
    background-clip: text;
    -webkit-background-clip: text;
    font-size:80px;
    background-image: linear-gradient(to bottom left,#462523 0,#cb9b51 22%, #f6e27a 45%,#f6f2c0 50%,#f6e27a 55%,#cb9b51 78%,#462523 100%);
   color:transparent;
   -webkit-text-stroke: 2px black;
  }
  #title{
    display: block;
    font-size:50px;
    color: #FFD700;
    background-clip: text;
    background-image: linear-gradient(to bottom left,#462523 0,#cb9b51 22%, #f6e27a 45%,#f6f2c0 50%,#f6e27a 55%,#cb9b51 78%,#462523 100%);
    color:transparent;
    -webkit-text-stroke: 2px black;
    -webkit-background-clip: text;
    
  }
  #secondp{
    display: block;
    margin-top: 50px;
  }
  #lb{
    display: block;
  }
  .thumb{
    position: relative;
    object-fit:contain;
    margin-top: -200px;
    width:50vw;
  }
  @media only screen and (max-width:800px){
    .first::before{
        visibility: hidden;
    }
    .first::after{
        visibility: hidden;
     }
     .header-left{
        visibility: visible;
        font-size: 6vw;
     }
     .header-right{
        visibility: visible;
        font-size: 6vw;
     }
     .imgcon{
        box-shadow:-50px 0px 50px 0 #d1d1d1 inset; 
     }
     .jump{
        top: 80vh;
     }
     .summery{
        font-size: 16px;
     }
     #name{
        font-size:25px;
      }
      #title{
        font-size:25px;
      }
     
}
