body{
    margin:0px;
    background: linear-gradient(90deg, rgba(255,212,155,1) 0%, rgba(255,255,255,1) 35%, rgba(0,212,255,1) 100%);
}
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    width: 400px;
    font-size: 3em;
    color: #998468;
    border-bottom:2px solid pink;
    border-right:2px solid pink;
    text-align:center;
    margin-top:0px;
}
img{
    width: 450px;
    height: 300px;
    margin:50px;
    transition: all 1s;
    border:black solid 3px;
}
img:hover{
    margin:0px;
    width: 700px;
    height: 500px;
    border: #ffd69f solid 13px;
    
}
