.odd{
    background-color: #ffc5c5;
    font-family: Verdana, "DejaVu Sans",sans-serif;
}
#second{
    color: hsl(224, 65%, 28%);
    font-size: 36px;
}
.third{
    font-size: 24px;
}
#fourth{
    background-color: hwb(120 69% 0%);
    font-size: 24px;
    font-weight: bold;
}